/*iphone SE */
@media screen and (max-width: 23.5em){

    body{
        padding-block: 2rem;
    
    }

    label{
    font-size: 1.6rem;
    padding: 1.2rem;
    font-weight: bolder;
}

    fieldset{
        padding: 1.2rem;
        font-size: 2rem;
    }

    input{
    padding: .75rem;
    border-radius: 1rem;
    min-width: 15rem;
    
}
   
}

/*ipad mini */
@media screen and (min-width: 48em) {

    body{
        padding-block: 1.6rem
    };

    fieldset{
        font-size: 2.6rem;
        padding: 1.6rem;
    }

    label{
        font-size: 2rem;
        padding: 2rem;
    }

    input{
        padding: 1.7rem;
    }

    .btn{
        font-size: 1.8rem;
    }
    
}

/*ipad pro */
@media screen and (min-width: 64em) {

    fieldset{
        font-size: 3.4rem;
        padding: 2rem;
    }

    label{
        font-size: 2.6rem;
        padding: 2rem;
    }

    input{
        padding: 1.4rem;
    }

    .btn{
        font-size: 2.4rem;
    }
}

@media screen and (min-width: 75em){

    body{
        padding-block: 2rem;

    }

    legend{
        font-size: 2.6rem;
    }

    label{
        font-size: 2rem;
    }

    input{
        padding: 1rem;
    }

    .btn{
        font-size: 2rem;
        padding: 1rem;
    }
}
