 :root{
    --color-fundo: antiquewhite; 
 }
 
 html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
 }

  body{
    font-family: "Roboto";
    font-size: 1.6rem;
    background-color: var(--color-fundo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 #titulo {
    font-size: 2.8rem;
    font-weight: bolder;
    margin-top: 1.4rem;
}

 .itemCarrinho{
   background-color: rgb(250, 245, 238);
   width: fit-content;
   font-weight: bolder;
   padding: 1.4rem;
   border-radius: 1rem;
 }

 .totalContainer{
   display: flex;
   gap: 5rem;
   font-size: 2.4rem; 
   margin: 3rem 0;
   position: relative;
 }

 .imagemPrato{
    width: 7.6rem;
    height: 7.6rem;
 }

 .infoPrato{
    display: flex;
    gap: 1.4rem;
    padding: 1rem 0;
    background-color: #eccfa0;
    padding: .75rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
 }

 .dadosPrato{
  display: flex;
  flex-direction: column;
 }

 .dadosPrato p{
  font-size: 2rem;
  font-weight: bolder;
 }

 .totalString{
  font-weight: bolder;
 }

 #total{
   color: green;
   font-weight: bolder;
 }

 hr{
  background-color: black;
  height: .2rem;
  width: 80%;
  opacity: .2;
 }

 #btnFinalizar{
   padding: 1rem;
   font-size: 2.4rem;
   font-weight: bolder;
   border-radius: 1rem;
   background-color: rgb(176, 19, 19);
   color: white;
   cursor: pointer;
   margin-top: 3rem;
   width: 30rem;
   text-align: center;
   text-decoration: none;
 }
 
.divContador{
   display: flex;
   align-items: center;
   gap: 2rem;
   margin-left: auto;
   padding-right: auto;
}

i{
   height: fit-content;
   background-color: beige;
   padding: .75rem;
}

 i:hover {
   cursor: pointer;
}

.qtdPrato{
   display: inline-block;
   background-color: beige;
   padding: .75rem;
}

.desabilitado {
  pointer-events: none;
  opacity: 0.4;
}
