 :root{
    --color-fundo: antiquewhite; 
    --btn-color: #B23A2C;
 }
 
 html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
 }

 body{
    font-family: "Roboto";
    font-size: 1.6rem;
    background-color: var(--color-fundo);
 }

.logo img{
    width: 20rem;
}

.menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #241715;
    color: antiquewhite;
    border-radius: .9rem;
}

.header-nav{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.icone-link{
    color: antiquewhite;
}

a{
    text-decoration: none;
}

.contador{
    color: antiquewhite;
    text-decoration: none;
}

.banner-content h1, .banner-content p{
    text-align: center;
    font-family:"Amatic SC";
    color: #371411;
}

.banner-titulo{
    font-size: 4rem;
}

.banner-paragrafo{
    font-size: 3rem;
}

.titulo-section{
    position: relative;
    text-align: center;
    font-family:"Amatic SC";
    font-size: 2.8rem;
    color: #B23A2C;
    margin: 2rem 0 ;
}

.titulo-section::before, .titulo-section::after{
    content: "";
    position: absolute;
    top: 50%;
    width: clamp(5rem, 22%, 12rem);
    height: 0.2rem;
    background-color: #8C5E3C;
}

.titulo-section::before{
    left: 0;
    transform: translateX(30%);
}

.titulo-section::after{
    right:0;
    transform: translateX(-30%);
}

.cardapio-container{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.opcao{
    display: flex;
    gap: 5rem ;
    min-height: 14rem;
}

.opcao img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: .6rem;
}

.descricao{
    display: flex;
    flex-direction: column;
}

.descricao p{
    margin: 0;
    line-height: 2.4rem;
}

.btn{
    width: 12rem;
    padding: .5rem;
    border-radius: 1rem;
    background-color: var(--btn-color);
    color: antiquewhite;
    margin-top: 2.4rem;
    cursor: pointer;
}

.destaques-container{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.rodape p{
    margin: 0;
    line-height: 3rem;
}

.rodape{
    background-color: #241715;
    color: antiquewhite;
    padding: 1rem;
    margin-top: 2.4rem;
    border-radius: .9rem;
}


