/*ipad mini */
@media screen and (min-width: 48em) {

    fieldset{
        font-size: 2.8rem;
        padding: 2rem;
    }

    label{
        font-size: 2.8rem;
        padding: 2rem;
    }

    input{
        padding: 1.7rem;
    }

    .btn{
        font-size: 1.8rem;
    }
    
}

/*ipad pro */
@media screen and (min-width: 64em) {


    fieldset{
        font-size: 3.6rem;
        padding: 4rem;
    }

    label{
        font-size: 3.6rem;
        padding: 3rem;
    }

    input{
        padding: 2rem;
    }

    .btn{
        font-size: 2.4rem;
    }
    
    .cadastro-paragrafo{
        font-size: 2.4rem;
    }

    .link-cliqueAqui{
        font-size: 2.4rem;
    }
}

/*desktop*/
@media screen and (min-width: 75em){
    legend{
        font-size: 2.6rem;
    }

    label{
        font-size: 2.4rem;
    }

    input{
        padding: 1.4rem;
    }

    .btn{
        font-size: 2rem;
        padding: 1rem;
    }
}