/*iphone SE */
@media screen and (min-width: 23.55em){

.titulo-section::before{
    left: 0;
    transform: translateX(30%);
}

.titulo-section::after{
    right:0;
    transform: translateX(-30%);
}

}

/*ipad mini */
@media screen and (min-width: 48rem){

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;  
    padding-inline: 2rem;
    padding-block: 1.5rem;

}

.logo img{
    width: 34rem;
}

.header-nav{
    gap: 4rem;
}

.header-nav .material-symbols-outlined{
    font-size: 3.6rem;
}

.menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
}

.banner-content{
    background-image: url(imagens/banner-imagem.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 38rem;
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 8rem;
}

.titulo-section::before, .titulo-section::after{
    width: clamp(8rem, 30%, 20rem);
}

.titulo-section::before{
    left: 0;
    transform: translateX(40%);
}

.titulo-section::after{
    right:0;
    transform: translateX(-40%);
}

.cardapio-container{
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    padding-inline: 2rem;
}

.opcoes {
    width: 32rem;
 
}

.opcao{
    display: flex ;
    gap: 1.6rem;
    min-height: 14rem;
}

.descricao{
    display: flex;
    flex-direction: column;
}

.descricao .btn{
    margin-top: auto;
}

.destaques-container{
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    padding-inline: 2rem;
    margin-bottom: 5rem;
}

.rodape{
    text-align: right;
}

}

/*media para desktop*/
@media screen and (min-width: 75em) {

    body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;  
    padding-inline: 2rem;
    padding-block: 1.5rem;

}

    .logo img{
    width: 28rem;
}

    .header-nav{
    gap: 6rem;
}

    .banner-content{
        min-height: 60rem;
        padding-right: 20rem;
    }

    .titulo-section{
        font-size: 3.6rem;
    }

    .titulo-section::before, .titulo-section::after{
        width: clamp(8rem, 50%, 40rem);
}

    .titulo-section::before{
        left: 0;
        transform: translateX(45%);
}

    .titulo-section::after{
        right:0;
        transform: translateX(-45%);
}

    .cardapio-container{
        justify-content: space-around;
        padding: 3rem;
    }

    .destaques-container{
        justify-content: space-around;
        padding: 3rem;
    }

    .icone-link{
        transform: scale(1);
        transition: transform .3s ease-in;
    }

    .icone-link:hover{
        transform: scale(1.2);
    }

    .btn{
       padding: 1rem;
       transform: scale(1);
       /* transition: transform .3s ease-in; */
    }

    .btn:hover{
        /* transform: scale(1.1); */
        background-color: rgb(64, 40, 40);
        
    }



    
}