@media screen and (min-width: 23.55em){

.titulo-section::before{
    left: 0;
    transform: translateX(30%);
}

.titulo-section::after{
    right:0;
    transform: translateX(-30%);
}

}




@media screen and (min-width: 48rem){

html, body{
    height: 100vh;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;  
}

.logo img{
    width: 34rem;
}

.header-nav{
    gap: 4rem;
}

.header-nav .material-symbols-outlined{
    font-size: 3.6rem;
}

.menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
}

.banner-content{
    background-image: url(imagens/banner-imagem.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 38rem;
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 8rem;
}

.titulo-section::before, .titulo-section::after{
    width: clamp(8rem, 30%, 20rem);
}

.titulo-section::before{
    left: 0;
    transform: translateX(40%);
}

.titulo-section::after{
    right:0;
    transform: translateX(-40%);
}

.cardapio-container{
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
}

.opcoes {
    width: 32rem;
}

.opcao{
    min-height: 14rem;
}


.descricao{
    display: flex;
    flex-direction: column;;
}

.descricao .btn{
    margin-top: auto;
}

.destaques-container{
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 5rem;
}

.rodape{
    margin-top: auto;
    text-align: right;
}

}